/*rgba(217, 217, 217, 1)*/
*{
    color: black;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
}
/*Header Style*/
.header {   
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: #F4F3F3;
    height: 70px;
    gap: 15px;
    padding-right: 3%;
}
.header a{
    position: relative; 
    justify-content: center;
    color: rgba(99, 30, 11, 1);
    font-weight: bolder;
    text-decoration: none;
    font-size: 19px;
    align-content: center;
}
.header .icon img{
    position: relative;
    align-content: center;
    height: 50px;
    margin-top: 5px;
    display: flex;
}
.header .icon{
    padding-left: 3%;
    gap: 15px;
}
.header p{
    margin-right: auto;
    position: relative;
    display: flex;
    color: black;
    align-content: center;
    flex-wrap: wrap;
    font-size: 20px;
}
/*Upper Image Style*/
.UpperImage{
    width: 100%;
}
/*Selected Item in header Style*/
.selected::after{
    content: "";
    position: absolute;
    background-color: #631E0B ; /*Back Ground Color of the div*/
    height: 2px;
    width: 60%; /* Always visible */
    left: 0;
    bottom: 24px;
  }
/*About Us Style*/  
.About_Us{
    position: relative;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
/*Images Styles*/
.Pic_1,
.Pic_2,
.Pic_3,
.Pic_4{
    background-color: rgba(217, 217, 217, 1);/*Back Ground Color*/
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

/*Department Styles
.Department{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.Department h1{
    font-family: 18px;
}
.Department p{
    font-family: 15px;
}*/

/*About Images Style*/
.About_Images{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
}
.AboutContent{
    position: relative;
    width: 50%;
}
/*Since 2024 Style*/
.Since2024{
    color: rgba(208, 208, 208, 1);/*Font Color*/
}

/*Style Below 425px screen*/
@media screen and (max-width:425px) {
    .header {   
        color: rgb(0, 0, 0);
        height: 70px; /*Can adjust*/
        gap: 9px; /*Can adjust*/
        padding-right: 0%; /*Can adjust*/
    }
    .header a{
        font-size: 14px; /*Can adjust*/
    }
    .header .icon img{
        height: 35px;
        margin-top: 15px;
    }
    .header .icon{
        padding-left: 1%;
        gap: 5px;
    }
    .header p{
        font-size: 13px;
        width: 10px;
    }
    .About_Us{
        gap: 10px;  
    }
    .About_Images{
        gap: 5px;
        margin-left: 10px;
    }
}


